<h1>Users#profile_view</h1>
<p>Find me in app/views/users/profile_view.html.erb</p>

<h1><%= @user.username %></h1>

<h2>Items Listed For Sale</h2>

<%= render 'shared/selling_products_show' %>

<h2>Previously Sold Items</h2>

<%= render 'shared/sold_products_show' %>