
  <div class="flex flex-wrap justify-center min-w-full text-center">
    <% @categories.each do |category| %>
        <button type="button" class="btn btn-light btn-lg"><%= link_to category.name, category %></button>
        <%# Displays CRUD options if user is admin %>
          <% if user_signed_in? and current_user.admin? %>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <br>
          <% end %>
    <% end %>
  </div>
