<%# <table>
  <thead>
    <tr>
      <h4>Category Name</h4>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  <div class="flex flex-wrap justify-center min-w-full text-center">
    <% @categories.each do |category| %>
        <%= link_to category.name, category %>
          <% if user_signed_in? and current_user.admin? %>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <br>
          <% end %>
    <% end %>
  </div>
