<h1>My Orders</h1>
<div class="container-fluid">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.name %></td>
          <td><%= order.product.artist %></td>
          <td>$<%= order.product.price %>0</td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>