<div
    class="p-5 text-center bg-image"
    style="
        background-image: url('/assets/krayboul-aIXmjJCq__A-unsplash.jpg');
        height: 400px;
    "
        >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="text-center mb-3">All Categories</h1>
                <%= render 'shared/categories' %>
            </div>
        </div>
    </div>
</div>