
<main class="text-center">
<header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/assets/krayboul-aIXmjJCq__A-unsplash.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to Hot Vinyl Records</h1>
          <h4 class="mb-3">Select a genre to start shopping top-quality vinyl</h4>
          <%= render 'shared/categories' %>
          <h4 class="mb-3">or</h4>
          <a><%= link_to 'View all albums', products_path, class: "btn btn-outline-light btn-lg",  role: "button" %></a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</main>
